

#create-channel-form-container {
    border-radius: 5px;

    box-sizing: border-box;
    height: auto;
    width: 450px;

    background-color: rgb(54, 57,63);
}

/* #create-channel-form {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    margin-top: auto;
} */

#create-channel-header {
    margin-top: 15px;
    width: 95%;

    color: var(--off-white-text);
    font-size: 20px;
    font-weight: 800;
}


/* .create-channel-input {

} */
.create-channel-label {
    margin-top: 25px;

}

#create-channel-name-input{
    padding-left: 20px;
    background-color: black;
    color: var(--off-white-text);
    border:none;
}

#channel-name-input{
    display:flex;
    flex-grow: 0;

    align-items: center;
    position:relative;
    box-sizing: border-box;
    width: 415px;
    height: 40px;

    border-radius: 5px;

    padding: 5px 10px;
    border: none;
    outline: none;

    background-color: black;

}
.inputPrefix-1HHwWv {
    position: absolute;
    top: 12px;
    left: 8px;
    color: var(--off-white-text)
}
.create-channel-label-text {
    font-size: small;
    margin-bottom: 10px;
    display:block
}

#create-channel-req-star {
    font-size: x-small;
}

.channel-name-length {
    margin-left: 390px;
    font-size: small;
}

.channel-name-length-color {
    color: var(--gray-text);
}

.channel-icon-err-msg {
    display: block;
    font-size: small;
}

#create-channel-bottom {
    justify-content: flex-end;
    box-sizing: border-box;


    border-radius: 0 0 5px 5px;

    padding: 20px;
    margin-top: 20px;

    background-color: #e3e5e8;
}

#create-channel-btn:hover {
    cursor: pointer;
    background-color: #4752c4;
}

#create-channel-btn {
    cursor: pointer;
    box-sizing: border-box;
    width: 150px;
    height: 40px;

    border-radius: 5px;
    border: none;
    padding: 10px 20px;

    color: white;
    background-color: #5865f2;
    margin-bottom: 20px
}

#close-create-channel-btn {
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
}

#close-create-channel-btn:hover {
    cursor: pointer;
}

#close-modal-x {
    height: 15px;
    width: 15px;
}
