#signup-container{
    position:relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#signup-box{
    background-color: var(--dark-gray-bg-color);
    width: 450px;
    height: auto;
    border-radius: 5px;
    position: absolute;
    margin: 0;
    top: 40%;
    transform: translate(0, -50%)
}

#signup-inner-container{
    margin: 35px 40px
}

#create-an-account{
    font-size: 20px;
    font-weight:bolder;
    color: var(--off-white-text);
    margin-top:20px;
    margin-bottom: 10px

}

#signup-button{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(77, 86,192);
    height: 35px;
    border: none;
    color: var(--off-white-text);
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    cursor: pointer;
    border-radius: 3px;
    font-weight:500
}

#linktologin{
    color: rgb(5, 164, 228);
    font-size: 12px;
}

#linktologin:hover{
    text-decoration: underline;
} 

