#splashpage-container,
.splash-nav {
    min-width: 1024px;
    width: 100%;
    flex-grow: 1;
}

#splash-sect-1 {
    background-color: #5865f2;
    height: 626px;
    width: 100%;
}
h1{
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 900
}
#splash-sect-2,
#splash-sect-4 {
    height: 680px;
    width: 100%;
}

#splash-sect-2{
    background-color: white;
}
#splash-sect-3,
#splash-sect-5 {
    height: 800px;
    width: 100%;
    background-color: rgb(246, 246,246);
}

#splash-sect-4{
    background-color: white;
}

.section-contents {
    max-width: 1150px;
    gap: 120px;
}

.section-side-desc {
    width: 380px;
}

.splash-sect-imgs {
    height: 440px;
    width: 678px;
}

.splash-intro-text {
    max-width: 780px;
    text-align: center;
}

.h3-intro-text {
    margin: 0;
}

.splash-nav {
    width: 100%;
    max-width: 1180px;

    top: 20px;
    left: 50%;
    transform: translate(-50%)
}

.splash-nav-inner-links {
    width: 80%;
}

#splash-sect-6{
    padding-left: 500px;
    padding-right: 500px;
    background-color: rgb(246, 246,246);

}

#splash-sect-6-inner-container{
    border-top: 2px solid blue;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 30px
}

#splash-signup-button{
    width: 80px;
    height: 40px;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: rgb(77, 86,192);
    border-radius: 20px;
    border: none;
    color: var(--off-white-text);
    cursor: pointer;
}
#splash-signup-button:hover{
    background-color: rgb(121, 131, 245);
}

#splash-login-button{
    color: rgb(35, 39, 104);
    width: 70px;
    height: 40px;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#splash-login-button:hover{
    transition: 0.3s;
    box-shadow: 0px 2px 2px 2px rgba(56, 55, 55, 0.5);
    color:  rgb(77, 86,192);
}

#home-logo{
    height: 40px;
    width: auto
}

#splash-sect-6-inner-container > a{
    color:  rgb(77, 86,192)
    
}