#server-settings-dropdown {
    top: 40px;
    left: 15px;

    box-sizing: border-box;
    width: calc(100% - 30px);
    border-radius: 5px;
    padding: 5px;
    z-index: 3000;
    background-color: #18191c;
}

.settings-dropdown-selection {
    align-items: center;
    font-size: medium;

    margin: 2px 10px;
    padding: 5px;
    border-radius: 5px;

    color: #9fa1a4;
    background-color: #18191c;
}

.settings-dropdown-selection:hover {
    cursor: pointer;
    color: #fbfbfe;
    background-color: #4752c4;
}

.server-settings-dropdown-icons {
    height: 15px;
    width: 15px;
}
