#server-sidebar {
    width: 75px;
    height: 100vh;
    gap: 5px;

    background-color: var(--server-sidebar-bg-color);
}

#dm-server-divider {
    height: 2px;
    width: 35px;
    background-color: var(--chat-sides-sidebar-bg-color);
}

#dm-server-nav {
    height: 30px;
    width: 30px;
    background-color: var(--chat-sides-sidebar-bg-color);
}

#dm-server-nav.on-dm-homepage-bg {
    background-color: #5865f2;
}

.server-navlink {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.server-navlink:hover {
    border-radius: 30%;
}

.server-sidebar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    transition: border-radius 0.5s;
}

div.active-server-sidebar-img,
.active-server-sidebar-img {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    background-color: #5865f2;
}

.server-sidebar-img:hover {
    border-radius: 30%;
    background-color:#5865f2;
}

.default-server-text-logo {
    background-color: var(--chat-sides-sidebar-bg-color);
    color: var(--off-white-text);
}

.active-server {
    border-radius: 30%;
    background-color: #5865f2;
}

#server-title {
    padding: 15px;
}
